  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
            <!-- ***** Logo Start ***** -->
            <a href="index.html" class="logo">
              <img src="assets/images/logo-v4_.png" alt="">
            </a>
            <!-- ***** Logo End ***** -->
            <!-- ***** Menu Start ***** -->
            <ul class="nav">
              
              @if(loggedIn){
                @if(getRole()=="Admin"){
                  <li class="scroll-to-section" [routerLink]= "'/signUp'"><a > Add Candidate</a></li>
                  <li class="nav-item search-bar">
                    <form class="form-inline" >
                      <div class="input-group">
                        <input class="form-control search-input" type="search" placeholder="Search " (input)="onChangeSearch($event)"  aria-label="Search">
                        <i class="fa fa-search search-icon"> </i>
                      </div>
                    </form>
                  </li>
                <!-- <li class="scroll-to-section" (click)="usersDetails()"><a >Details</a></li> -->
                <li class="scroll-to-section" ><a >{{this.user.email}} (Admin)</a></li>
                }
                <li class="scroll-to-section"><div class="border-first-button"><a  (click)="logoutUser()" >Logout</a></div></li> 
              }@else{
                <li class="scroll-to-section"><a routerLink="/" class="active">Home</a></li>
                <li class="scroll-to-section"><a href="#about">About</a></li>
                <li class="scroll-to-section"><a href="#contact">Contact</a></li> 
                <li class="scroll-to-section"><div class="border-first-button"><a [routerLink]="'/login'">Login</a></div></li> 

              }
            </ul>        
            <a class='menu-trigger'>
                <span>Menu</span>
            </a>
            <!-- ***** Menu End ***** -->
          </nav>
        </div>
      </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->