<app-navbar></app-navbar>
<div id="SignUp" class="contact-us section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 offset-lg-3">
          <div class="section-heading wow fadeIn" data-wow-duration="1s" data-wow-delay="0.5s">
            <h4>Add <em>Candidate</em></h4>
            <div class="line-dec"></div>
          </div>
        </div>
        <div class="col-lg-12 wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.25s">
          @if(error!=""){
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
              <div class="col-lg-8 offset-lg-2 wow fadeInUp"></div>
              <strong>{{ error }}!</strong>
            </div>
            }
          <form id="contact" class="was-validated" (submit)="signUp()" method="post" [formGroup]="signUpForm">
            <div class="row">
              <div class="col-lg-12">
                <div class="contact-dec">
                  <img src="assets/images/contact-dec.png" alt="" />
                </div>
              </div>
              <div class="col-lg-4">
                <div id="map">
                  <img src="assets/images/services-image-03.jpg" width="100%" height="500px" frameborder="0"
                    style="border: 0" alt="" />
                </div>
              </div>
              <div class="col-lg-8">
                <div class="fill-form">
                  <div class="row">
                    <div class="col-lg-6">
                      
                        <input type="text" class="form-control" name="firstName"  formControlName="firstName"placeholder="First Name" autocomplete="on" required />
                        <input type="email" class="form-control" name="userName" formControlName="email" placeholder="Username (should be ur gmail )" autocomplete="on" required />
                        <input type="dob" class="form-control" name="dob"  formControlName="dob" placeholder="Date Of Birth( yyyy-mm-dd )" autocomplete="on" required />
                        <input type="text" class="form-control" name="country" formControlName="country" placeholder="Country" autocomplete="on" required />
                        
                    </div>
                    <div class="col-lg-6">
                        <input type="text" class="form-control"name="lastName" formControlName="lastName" placeholder="Last Name" autocomplete="on" required />
                        <!-- <input type="text" class="form-control" name="password"  formControlName="password" placeholder="password" autocomplete="on" required /> -->
                        <input type="number" class="form-control" name="mobile" formControlName="mobile" placeholder="Mobile No." autocomplete="on" required />
                         <!-- Your component template -->
                         <select class="form-select" id="gender" formControlName="gender" required>
                            <option disabled selected hidden>
                                <em><i>Gender</i></em>
                            </option>
                            <option value="M">Male</option>
                            <option value="F">Female</option>
                        </select>
                    </div>
                    <div class="col-lg-12">
                      <fieldset>
                        <button type="submit" id="form-submit" class="main-button" [disabled]="signUpForm.invalid">
                          Add Candidate
                        </button>
                      </fieldset>
                    </div>
                  </div>
                </div>
              </div>
  
  
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>